<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EzCadExePath" value="C:\Users\pmich\Downloads\Ezcad2.14.11-V2\Ez Cad 2\EzCad2.exe" />
		<!-- Modify Menu-->
		<add key="xModifyMenuItem" value="131" />
		<add key="yModifyMenuItem" value="29" />
		
		<!-- Transform Menu-->
		<add key="xTransformMenuItem" value="170" />
		<add key="yTransformMenuItem" value="100" />


		<!-- Hatch Button-->
		<add key="xHatchButton" value="428" />
		<add key="yHatchButton" value="61" />
		
		
		
	</appSettings>
</configuration>